html
{
    font-family: 'Rubik', sans-serif;
}
li
{
    list-style: none;
}
a
{
    text-decoration: none;
}

nav
{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(47, 51, 56);
}
header nav a
{
    font-size: 1.2em;
    margin: 0 30px;
    color:rgb(171, 39, 204);
}

footer nav
{
    background-color: rgb(210, 210, 210);
}

footer nav a
{
    color:rgb(135, 135, 135);
    margin: 0 30px;
}


body{ height:100vh; margin:0; }

header{ min-height:50px; background:lightcyan; }
footer{ min-height:50px; background:PapayaWhip; }

body{ 
  display:flex; 
  flex-direction:column; 
}

footer{
  margin-top:auto; 
}
main
{
    margin: 0 10%;
}
textarea
{
    border-radius: 25px;
    padding: 20px;
    border-width: 2px;
    border-color: purple;
    resize: none;
    width: 70%;
}
.addContent
{
    border-radius: 25px;
    border-color: aqua;
    border-width: 10px;
    background-color: gray;
    padding: 50px 0;
    margin: 20px 10%;
}
.addContent p
{
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    color: black;
}

.addContent input
{
    display: block;
}
.addContent select
{
    width: 20%;
    text-align: center;
}
.addContent button
{
    font-size: 1.5em;
    padding: 10px;
}


.listContent
{
    width: 100%;
    border: rgb(0, 0, 0) solid 1px;
}
.listContent th , .listContent td
{
    padding: 10px;
    text-align: center;
    border: rgb(0, 0, 0) solid 1px;
}
.listContent tbody tr:nth-of-type(2n)
{
    background-color: rgb(230, 230, 230);
}

button
{
    background: none;
    transition: .2s;

}
.send:hover
{
    color: rgb(6, 229, 106);
    border-color: rgb(6, 229, 106);
}

.edit:hover
{
    color: rgb(6, 143, 229);
    border-color: rgb(6, 143, 229);
}
.del:hover
{
    color: rgb(229, 6, 6);
    border-color: rgb(229, 6, 6);
}

#error
{
    color: rgb(153, 4, 4);
    text-align: center;
}
.add
{
    text-align: center;
}

.container
{
    margin: auto 0 100px;
    text-align: center;
}

.articleList
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.articleList .article:hover
{
    transform: scale(1.05);
}
.article
{
    margin-top: 30px;
    padding: 0 20px;
    text-align: center;
    background-color: rgb(237, 237, 237);
}
.article article
{
    text-align: left;
}

.articleList .article
{
    width: 43%;
    transition: transform .2s;
    max-height: 100%;
}

.article h2
{
    color:rgb(0, 0, 0);
    border-bottom: 1px rgb(181, 181, 181) solid;
    padding: 20px 0;
}

.article p
{
    padding: 20px 0;
    color:rgb(0, 0, 0);
}
.article h6
{
    font-size: 0.8em;
    align-self: flex-end;
    bottom: 0;
}

#commentsList
{
    background-color: aliceblue;
    padding: 0 10%;
}
.sendComment
{
    padding: 50px 0;
}

.sendComment button
{
    display: block;
    margin: auto;
}

#commentsList textarea
{
    max-height: 50px;
}

.comment
{
    display: flex;
    justify-content: space-between;
}
